.background {
  position: relative;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1498598457418-36ef20772bb9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  height: 900px;
  margin: 0 auto;
}
.background-cont {
  position: absolute;
  background: var(--first);
  width: 100%;
  height: 100%;
  opacity: 0.63;
}

.welcome {
  height: 955px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}
.intro {
  z-index: 1;
  padding: 2%;
  display: flex;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro span {
  color: var(--fifth);
}
.intro h2,
h3 {
  font-weight: 500;
  text-align: center;
  margin-top: 2%;
  font-size: 2.7rem;
  color: var(--third);
  height: 50px;
}
.goToProject {
  position: relative;
  margin-top: 40px;
  height: 50px;
  width: 200px;
  background: #ffffff00;
  color: white;
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--third);
  cursor: pointer;
  background-color: none;
  transition: 1.3s;
}

.arrow {
  transition: 0.5s;
}
.goToProject:hover .arrow,
.goToProject .arrow:hover {
  transform: rotate(90deg);
  transition: 0.5s;
}

.intro h4 {
  position: absolute;
  width: 67%;
  height: 100%;
  font-size: 1rem;

  left: 0;
  display: flex;
  align-items: center;
  padding: 3%;
}

.goToProject:hover {
  background-color: var(--forth);
  border: none;
  transition: 1.3s;
}
